body {
  background-color: rgb(207, 207, 207);
}
body .heading {
  font-weight: 700;
}
body input {
  border: 1px solid rgb(225, 225, 225);
}
body :hover {
  outline: none;
}
body ::-moz-placeholder {
  font-size: 15px;
  color: rgb(190, 190, 190);
}
body ::placeholder {
  font-size: 15px;
  color: rgb(190, 190, 190);
}